@font-face {
  font-family: "augusta";
  src: url("augusta.ttf")
}
@font-face {
  font-family: "cambria";
  src: url("cambria.ttf")
}
body {
  margin: 0;
  background-color: white;
}
header {
  width: 100%;
  height: 250px;
  background-color: black;
}
section#content {
margin: auto;
max-width: 1280px;
background-color: white;
}
section.section {
  width: 100%;
  background-color: white;
  border-bottom: 4px solid #e6e6e6;
  padding: 0px 0px 40px 0px;
  margin: 40px 0px 0px 0px;
  background-color: red;
}
section.example {
  display: flex;
  flex: 8;
  align-items: center;
}
section.description {
  display: flex;
  flex: 2;
  font-family: "cambria";
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.colors {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.typography {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #000;
}
footer {
  width: 100%;
  height: 120px;
  background-color: lightgrey;
}
.color {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  font-family: "cambria";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

}
.color1 {
  background-color: #284b55;
}
.color2 {
  background-color: #a9c5ae;
}
.color3 {
  background-color: #9d522d;
}
.title {
  font-family: "cambria";
  font-size: 40px;
  margin: 0px 0px 0px 10px;
  padding: 10px 0px 10px 0px;
}
.title-custom {
  font-family: "augusta";
  font-size: 36px;
}
.title1 {
  font-family: "cambria";
  font-size: 28px;
}
.title2 {
  font-family: "cambria";
  font-size: 24px;
}
.title3  {
  font-family: "cambria";
  font-size: 20px;
}
.placeholdertxt {
  font-family: "cambria";
  font-size: 18px;
  line-height: 30px;
}
.
