* {
  margin: 0;
  padding: 0;
}

body {

}

#wrapper {
  width: 1920px;
  height: auto;
}

header {
  background-color: lightblue;
  height: 300px
}

.header_picture {
  margin-top: 60px;
}

#login_section {
  width: 100%;
  background-color: lightgreen;
}

.login {
  width: 400px;
  height: 300px;
  background-color: red;
  margin: auto;

}

.username {
  width: 100%;
  margin-bottom: 30px;
}

.password {
  width: 100%;
  margin-bottom: 10px;
}
